.adminBoard{
    margin-top: 100px;
}

.country{
    font-size: large;
}

.table-head{
    margin-right: auto;
}

.table-row{
    margin-right: auto;
}



h3{
    color: white;
}

#prodImages{
    border: 1px solid #eee;
}

.btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

.searchBar{
    margin-bottom: 50px;
    width: 370px;
    font-size: large;
}
 .fontSizeButton{
    font-size: large;
 }
 .productDash{
    font-size: large;
 }